.reg_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    text-align: center;
}
.reg_content input{
    border-radius: 20px;
    padding: 4px 8px;
    margin: 10px;
    background: none;
}
